[sounds]
;folder where the audio files are present.
sound_folder = ./sounds
;amount of sounds that can be playing at once.
mixer_channels = 16

[color]
;name of the color masks
color_name = blue,red
;lower bound of masks in hsv form
;lower_bound = 95,130,100,170,180,160
lower_bound = 95,130,100,165,180,100
;raspberry pi lower:
;lower_bound = 95,120,50,160,175,60
;upper bound of masks in hsv form
upper_bound = 140,255,255,180,255,255
;raspberry pi upper:
;upper_bound = 140,255,255,180,255,255
;colors of drawn boxes. BGR format.
hihat_off = 0,0,255
hihat_on = 0,255,0
drum_off = 255,0,0
drum_on = 255,255,0
